<div class="hero">
  <div class="wrapper">
    <!-- New Block -->
    <div class="custom-hero">
      <span class="hero-script">innovate</span>
      <span class="hero-tag">&lt;/HER&gt;</span>
      <button class="hero-start">
        Start
        <img src="/images/cursor.webp" alt="cursor icon" class="cursor-icon">
      </button>
    </div>

    <h3>7-8 February 2026 at Purdue University</h3>
    <div class="buttons">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc0feSn0ATjL58NiR1eaq82YxFKzPsxHJCIxqxboVwSJtL5iA/viewform?usp=sf_link">Join our mailing list!</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWZgYqwD0btXIvs1F0X5xNbswk1PvaysFrVEGiqnBGVCaJrQ/viewform?usp=header">Sponsor</a>
    </div>
  </div>
</div>
