<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}
    {{ content }}

  <footer class="footer text-center">
    <div class="container">
      <h3>InnovateHer 2026</h3>
      <div class="social-icons">
        <a href="https://instagram.com/innovateherhacks" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/innovateherhacks/about/" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:innovateherhacks@gmail.com" aria-label="Gmail">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="mailto:inov8her@purdue.edu" aria-label="Outlook Email">
          <i class="fas fa-envelope-circle-check"></i>
        </a>
      </div>
    </div>
  </footer>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
